In [ ]:
import pymysql

In [ ]:
mydb = pymysql.connect(host='localhost',user = 'root', password = 'Garikinai20fever')

print(mydb)

In [ ]:
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("CREATE DATABASE testdb")

In [ ]:
mycursor.execute("SHOW DATABASES")

for db in mycursor:
    print(db)

In [ ]:
mydb = pymysql.connect(host='localhost',user = 'root', password = 'Garikinai20fever', database = 'testdb')

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Students(name VARCHAR(255), age INTEGER(10))")

In [ ]:
mycursor.execute("SHOW TABLES")
for db in mycursor:
    print(db)

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE StudentMarks(Studentname VARCHAR(255),Englishmarks INTEGER(10),Mathsmarks INTEGER(10), PassorFail VARCHAR(50))")

In [ ]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE  StudentMarks ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [47]:
mydb = pymysql.connect(host='localhost',user = 'root', password = 'Garikinai20fever', database = 'testdb')
mycursor = mydb.cursor()
sql = "INSERT INTO StudentMarks(Studentname,Englishmarks,Mathsmarks,PassorFail) VALUES(%s,%s,%s,%s)"
StudentMarks = ("RAO",90,100,"PASS")

mycursor.execute(sql,StudentMarks)
mydb.commit()